body * {
  font-family: "San Francisco";
  letter-spacing: 0.3px;
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

#main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  align-items: center;
  background-color: #00b3a4;
}
.header.header_offline {
  background-color: #4d4d4d;
}
.header .menu-list {
  display: flex;
  align-items: center;
  margin-left: 8px;
}
.header .menu-list .menu-list__item {
  margin-right: 16px;
}
.header .menu-list .menu-list__item:last-child {
  margin-right: 0;
}
.header .menu-list .menu-list__item.active .menu-list__link {
  background-color: #ffffff;
  color: #4d4d4d;
  border-radius: 5px 5px 0 0;
}
.header .menu-list .menu-list__item .menu-list__link {
  display: block;
  text-decoration: none;
  padding: 16px;
  color: #FFF;
}

.link {
  display: block;
  text-decoration: none;
  font-size: 16px;
}
.link.link_black {
  color: #4d4d4d;
}
.link.link_icon {
  display: flex;
  align-items: center;
}
.link.link_icon::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.link.link_icon.link_icon_chat::before {
  width: 20px;
  height: 20px;
  background-image: url(../images/chat.svg);
}
.link.link_icon.link_icon_logout::before {
  width: 20px;
  height: 20px;
  background-image: url(../images/logout.svg);
}
.link.link_icon.link_icon_add_playlist::before {
  width: 20px;
  height: 20px;
  background-image: url(../images/playlist.svg);
}
.link.link_icon.link_icon_add_share::before {
  width: 20px;
  height: 20px;
  background-image: url(../images/youtube_share.svg);
}

.button {
  display: block;
  border: none;
  padding: 7px 10px;
  font-size: 14px;
  outline-width: 0;
  cursor: pointer;
}
.button.button_bor_rad_min {
  border-radius: 5px;
}
.button.button_bor_rad_max {
  border-radius: 30px;
}
.button.button_pad_max {
  padding: 7px 20px;
}
.button.button_pad_max_2 {
  padding: 10px 20px;
}
.button.button_white_grad {
  background: linear-gradient(white, rgba(255, 255, 255, 0.8));
}
.button.button_white_grad.button_white_grad_pushed {
  background: linear-gradient(rgba(255, 255, 255, 0.8), white);
}
.button.button_bg_white {
  background-color: #FFF;
  color: #4d4d4d;
}
.button.button_bg_grey {
  background-color: #e5e5e5;
  color: #4d4d4d;
}
.button.button_bg_green-blue {
  background-color: #00b3a4;
  color: #FFF;
}
.button.button_bg_green-blue.disabled {
  background-color: #efefef;
  color: #999999;
}
.button.button_border-warm {
  border: 1px solid #999999;
}
.button.button_shadow {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
}
.button.button_c_green-blue {
  color: #00b3a4;
}
.button.button_icon {
  display: flex;
  align-items: center;
}
.button.button_icon::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 8px;
}
.button.button_icon.button_icon_warning::before {
  width: 20px;
  height: 20px;
  background-image: url(../images/info.svg);
}
.button.button_icon.button_icon_dot::before {
  width: 10px;
  height: 10px;
  background-image: url(../images/circle.svg);
}
.button.button_icon.button_icon_ok::before {
  width: 14px;
  height: 14px;
  background-image: url(../images/icon_success.png);
}
.button.button_icon.button_icon_2_arrows::before {
  width: 14px;
  height: 14px;
  background-image: url(../images/icon_2_arrows.png);
}

.label {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  border-radius: 5px;
}
.label.label_white {
  background-color: #FFF;
  color: #4d4d4d;
  opacity: 0.8;
}
.label .link_icon {
  margin-left: 20px;
}

.videos .videos-head {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  background-color: #fafafa;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 20px;
}
.videos .videos-head .videos__title {
  display: block;
  max-width: 230px;
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 10px;
}
.videos .videos-head .videos__descriprion {
  display: block;
  max-width: 570px;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}
.videos .videos-info-list {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.videos .videos-info-list .videos-info-list__item {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-right: 5px;
  color: #999999;
}
.videos .videos-info-list .videos-info-list__item::after {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #999999;
  margin-left: 5px;
}
.videos .videos-info-list .videos-info-list__item:last-child {
  margin-right: 0;
}
.videos .videos-info-list .videos-info-list__item:last-child::after {
  display: none;
}
.videos .videos-list {
  overflow-y: auto;
}
.videos .videos-list .videos-list__item {
  margin-bottom: 15px;
}
.videos .videos-list .videos-list__item:last-child {
  margin-bottom: 0;
}
.videos .videos-list .videos-list__item .videos-list__link {
  display: flex;
  text-decoration: none;
}
.videos .videos-list .videos-list__item .videos-list__link .videos-list__img-box {
  position: relative;
  margin-right: 15px;
}
.videos .videos-list .videos-list__item .videos-list__link .videos-list__img-box .videos-list__img {
  width: 246px;
  height: 140px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.videos .videos-list .videos-list__item .videos-list__link .videos-list__img-box .videos-list__time {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 3px;
  background-color: #000000;
  color: #FFF;
}
.videos .videos-list .videos-list__item .videos-list__link .videos-list__right .videos-list__title {
  display: block;
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
}
.videos .videos-list .videos-list__item .videos-list__link .videos-list__right .videos-list__description-block {
  display: flex;
  align-items: center;
}
.videos .videos-list .videos-list__item .videos-list__link .videos-list__right .videos-list__description-block .videos-list__channel {
  display: block;
  color: #999999;
  margin-right: 10px;
}
.videos .videos-list .videos-list__item .videos-list__link .videos-list__right .videos-list__description-block .videos-list__duration {
  display: block;
  color: #999999;
}

.menu-change {
  display: flex;
  padding-top: 20px;
}
.menu-change .menu-change__left {
  margin-right: 20px;
}
.menu-change .menu-change__left .menu-change__filter-title {
  display: block;
  text-transform: uppercase;
  padding: 0 24px;
  color: #999999;
  margin-bottom: 20px;
}
.menu-change .menu-change__left .menu-change-filter-list {
  width: 300px;
  overflow: auto;
}
.menu-change .menu-change__left .menu-change-filter-list .menu-change-filter-list__item {
  margin-bottom: 10px;
}
.menu-change .menu-change__left .menu-change-filter-list .menu-change-filter-list__item:last-child {
  margin-bottom: 0;
}
.menu-change .menu-change__left .menu-change-filter-list .menu-change-filter-list__item.active .menu-change-filter-list__link {
  background-color: #00b3a4;
  color: #FFF;
}
.menu-change .menu-change__left .menu-change-filter-list .menu-change-filter-list__item .menu-change-filter-list__link {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: #00b3a4;
  padding: 16px 24px;
}
.menu-change .menu-change__right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.menu-change .menu-change__right .menu-change-list {
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #e1f5f3;
  overflow: auto;
}
.menu-change .menu-change__right .menu-change-list .menu-change-list__item:first-child .menu-change-list__link {
  padding-top: 26px;
}
.menu-change .menu-change__right .menu-change-list .menu-change-list__item.active .menu-change-list__link {
  background-color: #f3fffe;
}
.menu-change .menu-change__right .menu-change-list .menu-change-list__item .menu-change-list__link {
  display: block;
  text-decoration: none;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
  background-color: #e1f5f3;
}
.menu-change .menu-change__right .menu-change-list .menu-change-list__item .menu-change-list__link .menu-change-list__title-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.menu-change .menu-change__right .menu-change-list .menu-change-list__item .menu-change-list__link .menu-change-list__title-price .menu-change-list__title {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #4d4d4d;
}
.menu-change .menu-change__right .menu-change-list .menu-change-list__item .menu-change-list__link .menu-change-list__title-price .menu-change-list__price {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #4d4d4d;
}
.menu-change .menu-change__right .menu-change-list .menu-change-list__item .menu-change-list__link .menu-change-list__description-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-change .menu-change__right .menu-change-list .menu-change-list__item .menu-change-list__link .menu-change-list__description-button .menu-change-list__description {
  display: block;
  max-width: 80%;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}
.menu-change .menu-change__right .menu-change-list .menu-change-list__item .menu-change-list__link .menu-change-extra-list {
  margin-top: 10px;
  border-top: 1px solid #4d4d4d;
}
.menu-change .menu-change__right .menu-change-list .menu-change-list__item .menu-change-list__link .menu-change-extra-list .menu-change-extra-list__item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #4d4d4d;
  margin-left: 20px;
}
.menu-change .menu-change__right .menu-change-list .menu-change-list__item .menu-change-list__link .menu-change-extra-list .menu-change-extra-list__item:last-child {
  border-bottom: none;
}
.menu-change .menu-change__right .menu-change-list .menu-change-list__item .menu-change-list__link .menu-change-extra-list .menu-change-extra-list__item.disabled .menu-change-extra-list__name {
  color: #999999;
}
.menu-change .menu-change__right .menu-change-list .menu-change-list__item .menu-change-list__link .menu-change-extra-list .menu-change-extra-list__item.disabled .menu-change-extra-list__price {
  color: #999999;
}
.menu-change .menu-change__right .menu-change-list .menu-change-list__item .menu-change-list__link .menu-change-extra-list .menu-change-extra-list__item .menu-change-extra-list__name {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #4d4d4d;
  margin-right: 8px;
}
.menu-change .menu-change__right .menu-change-list .menu-change-list__item .menu-change-list__link .menu-change-extra-list .menu-change-extra-list__item .menu-change-extra-list__price {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #00b3a4;
}
.menu-change .menu-change__right .menu-change-list .menu-change-list__item .menu-change-list__link .menu-change-extra-list .menu-change-extra-list__item .button {
  margin-left: auto;
}

.text-block {
  display: flex;
  align-items: center;
}
.text-block .text__name {
  display: block;
  width: 110px;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  margin-right: 5px;
}
.text-block .text__value {
  font-size: 18px;
  color: #00b3a4;
}
.text-block .text__value.text__value_danger {
  color: #fb6f6f;
}

.login-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../images/login_bg.png);
  background-repeat: repeat;
}
.login-block .login-panel {
  background-color: #FFF;
  box-shadow: 0 10px 99px 0 rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  overflow: hidden;
}
.login-block .login-panel .login-panel__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 32px 0 32px;
  margin-bottom: 15px;
}
.login-block .login-panel .login-panel__header .login-panel__title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #4d4d4d;
}
.login-block .login-panel .login-panel__header .login-panel__logo {
  width: 60px;
}
.login-block .login-panel .login-panel__body {
  padding: 0 32px;
  margin-bottom: 25px;
}
.login-block .login-panel .login-panel__body .form-group {
  width: 240px;
}
.login-block .login-panel .login-panel__footer .error {
  display: block;
  padding: 0 10px;
  margin-bottom: 10px;
}
.login-block .login-panel .login-panel__footer .button {
  padding: 14px 10px;
  font-size: 16px;
}

.form-group {
  margin-bottom: 20px;
}
.form-group:last-child {
  margin-bottom: 0;
}
.form-group.form-group_has-error .form-group__input {
  border: 1px solid red;
}
.form-group .form-group__label {
  display: block;
  font-size: 14px;
  color: #999999;
  margin-bottom: 8px;
}
.form-group .form-group__input {
  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  border: none;
  background-color: #efefef;
  color: #4d4d4d;
  font-size: 14px;
}
.form-group .form-group__error {
  display: block;
  font-size: 14px;
  color: red;
  margin-top: 8px;
}

.history {
  display: flex;
  padding-top: 20px;
}
.history .history__left {
  margin-right: 20px;
}
.history .history__left .history-filter-list {
  width: 300px;
  overflow: auto;
}
.history .history__left .history-filter-list .history-filter-list__item {
  margin-bottom: 10px;
}
.history .history__left .history-filter-list .history-filter-list__item:last-child {
  margin-bottom: 0;
}
.history .history__left .history-filter-list .history-filter-list__item.active .history-filter-list__link {
  background-color: #00b3a4;
  color: #FFF;
}
.history .history__left .history-filter-list .history-filter-list__item .history-filter-list__link {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: #00b3a4;
  padding: 16px 24px;
}
.history .history__right {
  width: 100%;
}
.history .history__right .history-lists-block {
  overflow: auto;
  margin-bottom: 15px;
}
.history .history__right .history-lists-block .history-order-block {
  height: 100%;
  padding: 20px;
  background-color: #e1f5f3;
  border-radius: 20px;
}
.history .history__right .history-lists-block .history-order-block .history-order-list .history-order-list__item {
  margin-bottom: 20px;
}
.history .history__right .history-lists-block .history-order-block .history-order-list .history-order-list__item:last-child {
  margin-bottom: 0;
}
.history .history__right .history__right-footer {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
.history .history__right .history__right-footer .history-nav-list {
  display: flex;
  align-items: center;
  border: 1px solid #00b3a4;
  border-radius: 24px;
  overflow: hidden;
}
.history .history__right .history__right-footer .history-nav-list .history-nav-list__item.active .history-nav-list__button {
  background-color: #00b3a4;
  color: #FFF;
}
.history .history__right .history__right-footer .history-nav-list .history-nav-list__item .history-nav-list__button {
  width: 100%;
  background-color: #FFF;
  border: none;
  outline-width: 0;
  color: #00b3a4;
  padding: 7px 10px;
}

.history-table {
  width: 100%;
}
.history-table thead tr th {
  padding: 15px;
  font-size: 16px;
  color: #4d4d4d;
  text-transform: uppercase;
  text-align: left;
}
.history-table tbody tr {
  background-color: #e1f5f3;
}
.history-table tbody tr:nth-child(odd) {
  background-color: #f3fffe;
}
.history-table tbody tr:first-child td:first-child {
  border-radius: 20px 0 0 0;
}
.history-table tbody tr:first-child td:last-child {
  border-radius: 0 20px 0 0;
}
.history-table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 20px;
}
.history-table tbody tr:last-child td:last-child {
  border-radius: 0 0 20px 0;
}
.history-table tbody tr td {
  padding: 15px;
  font-size: 15px;
  color: #4d4d4d;
}
.history-table tbody tr td.td_bold {
  font-weight: 600;
}

.order {
  border-radius: 10px;
  background-color: #FFF;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
}
.order.order-attention {
  animation: order-attention 1.5s ease-in-out 0s 3;
}
.order .order__body {
  display: flex;
}
.order .order__body.order__body_link {
  cursor: pointer;
}
.order .order__body .order__left {
  width: 66.666666%;
  padding: 16px;
  border-right: 2px solid #e6e6e6;
  flex-grow: 2;
  flex-shrink: 0;
}
.order .order__body .order__left .order__main-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.order .order__body .order__left .order__main-info .order__user {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #4d4d4d;
}
.order .order__body .order__left .order__main-info .order__mark {
  display: block;
  padding: 3px 5px;
  background-color: #00b3a4;
  color: #FFF;
  border-radius: 5px;
  font-size: 10px;
  margin-left: 10px;
}
.order .order__body .order__left .order__main-info .order__mark.order__mark_icon {
  display: flex;
  align-items: center;
}
.order .order__body .order__left .order__main-info .order__mark.order__mark_icon::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 3px;
}
.order .order__body .order__left .order__main-info .order__mark.order__mark_icon.order__mark_icon_star::before {
  width: 12px;
  height: 14px;
  background-image: url(../images/icon_star.png);
}
.order .order__body .order__left .order__main-info .order__date {
  display: block;
  margin-left: auto;
  color: #4d4d4d;
  font-size: 16px;
}
.order .order__body .order__left .order__note {
  display: block;
  padding: 8px;
  font-size: 18px;
  font-style: italic;
  word-break: break-word;
  background-color: #b30000;
  color: #FFF;
  margin-top: 5px;
  border-radius: 5px;
}
.order .order__body .order__left .order-extra-list {
  margin-bottom: 16px;
}
.order .order__body .order__left .order-extra-list .order-extra-list__item {
  margin-bottom: 8px;
}
.order .order__body .order__left .order-extra-list .order-extra-list__item:last-child {
  margin-bottom: 0;
}
.order .order__body .order__left .order-extra-list .order-extra-list__item .order-extra-list__info {
  display: flex;
  align-items: center;
}
.order .order__body .order__left .order-extra-list .order-extra-list__item .order-extra-list__info .order-extra-list__count {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  padding: 4px;
  background-color: #00b3a4;
  color: #FFF;
  margin-right: 8px;
}
.order .order__body .order__left .order-extra-list .order-extra-list__item .order-extra-list__info .order-extra-list__name {
  display: block;
  font-size: 16px;
  color: #4d4d4d;
}
.order .order__body .order__left .order__price {
  display: block;
  font-size: 16px;
  color: #4d4d4d;
}
.order .order__body .order__right {
  width: 33.33333%;
  padding: 16px;
  flex-grow: 1;
  flex-shrink: 0;
}
.order .order__body .order__right .order__id {
  display: block;
  font-size: 22px;
  font-weight: 600;
  color: #00b3a4;
  margin-bottom: 14px;
}
.order .order__body .order__right .order__add-text {
  display: block;
  font-size: 14px;
  color: #999999;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.order .order__body .order__right .order__add-text.order__add-text_icon {
  display: flex;
  align-items: center;
}
.order .order__body .order__right .order__add-text.order__add-text_icon::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 10px;
}
.order .order__body .order__right .order__add-text.order__add-text_icon.order__add-text_icon_motorcycle::before {
  width: 18px;
  height: 11px;
  background-image: url(../images/icon_motorcycle.svg);
}
.order .order__footer {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #e6e6e6;
}
.order .order__footer .order__label {
  font-size: 16px;
  font-weight: 600;
}

.order-object {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.order-object:last-child {
  margin-bottom: 0;
}
.order-object.order-object_big {
  flex-direction: column;
  align-items: flex-start;
}
.order-object.order-object_big .order-object__name {
  margin-bottom: 5px;
  margin-right: 0;
}
.order-object.order-object_big .order-object__value {
  font-size: 18px;
}
.order-object .order-object__name {
  display: block;
  font-size: 14px;
  color: #4d4d4d;
  margin-right: 5px;
}
.order-object .order-object__value {
  display: block;
  font-size: 14px;
  color: #00b3a4;
}
.order-object .order-object__value.order-object__value_danger {
  color: #fb6f6f;
}

.order-delivery-time {
  display: flex;
  align-items: center;
}
.order-delivery-time::before {
  content: "";
  display: block;
  width: 18px;
  height: 11px;
  background-image: url(../images/icon_motorcycle_green-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 10px;
}
.order-delivery-time .order-delivery-time__time {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #00b3a4;
  margin-right: 10px;
}
.order-delivery-time .order-delivery-time__time-lost {
  display: block;
  font-size: 14px;
  color: #00b3a4;
}

.orders {
  display: flex;
  padding: 20px 10px 10px 10px;
}
.orders .orders-incoming {
  width: calc(50% - 10px);
  flex-grow: 1;
  margin-right: 10px;
}
.orders .orders-incoming .orders-incoming__title {
  display: block;
  font-size: 16px;
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 15px;
}
.orders .orders-incoming .orders-incoming__title.orders-incoming__title_attention {
  animation: order-text-attention 1.5s ease-in-out 0s 3;
}
.orders .orders-incoming .orders-incoming-list-block {
  padding: 20px;
  border-radius: 20px;
  background-color: #e1f5f3;
}
.orders .orders-incoming .orders-incoming-list-block .orders-incoming-list {
  height: 100%;
  overflow: auto;
}
.orders .orders-incoming .orders-incoming-list-block .orders-incoming-list .orders-incoming-list__item {
  margin-bottom: 20px;
}
.orders .orders-incoming .orders-incoming-list-block .orders-incoming-list .orders-incoming-list__item:last-child {
  margin-bottom: 0;
}
.orders .orders-accepted {
  width: calc(50% - 10px);
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 10px;
}
.orders .orders-accepted .orders-accepted__title {
  display: block;
  font-size: 16px;
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 15px;
}
.orders .orders-accepted .orders-accepted__title.orders-accepted__title_attention {
  animation: order-text-attention 1.5s ease-in-out 0s 3;
}
.orders .orders-accepted .orders-accepted-list-block {
  padding: 20px 20px 60px 20px;
  border-radius: 20px;
  background-color: #e1f5f3;
  position: relative;
  overflow: hidden;
}
.orders .orders-accepted .orders-accepted-list-block .orders-accepted-list {
  height: 100%;
  overflow: auto;
}
.orders .orders-accepted .orders-accepted-list-block .orders-accepted-list .orders-accepted-list__item {
  margin-bottom: 20px;
}
.orders .orders-accepted .orders-accepted-list-block .orders-accepted-list .orders-accepted-list__item:last-child {
  margin-bottom: 0;
}

.orders-road {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.orders-road.orders-road_closed .orders-road__header::after {
  background-image: url(../images/icon_arrow_top.svg) !important;
}
.orders-road.orders-road_closed .orders-road__body {
  height: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}
.orders-road .orders-road__header {
  padding: 15px;
  background-color: #4d4d4d;
  position: relative;
}
.orders-road .orders-road__header::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  width: 15px;
  height: 9px;
  background-image: url(../images/icon_arrow_bottom.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.orders-road .orders-road__header .orders-road__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: #FFF;
  text-align: center;
}
.orders-road .orders-road__header .orders-road__title::before {
  content: "";
  display: block;
  width: 18px;
  height: 11px;
  background-image: url(../images/icon_motorcycle_white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 10px;
}
.orders-road .orders-road__body {
  padding: 15px;
  background-color: #d1d1d1;
}
.orders-road .orders-road__body .orders-road-list {
  overflow: auto;
}
.orders-road .orders-road__body .orders-road-list .orders-road-list__item {
  margin-bottom: 20px;
}
.orders-road .orders-road__body .orders-road-list .orders-road-list__item:last-child {
  margin-bottom: 0;
}

@keyframes order-attention {
  0% {
    background-color: #FFF;
  }
  50% {
    background-color: #00b3a4;
  }
  100% {
    background-color: #FFF;
  }
}
@keyframes order-text-attention {
  0% {
    color: #4d4d4d;
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(0.9) rotate(-3deg);
  }
  50% {
    color: #ff0000;
    font-weight: 700;
    transform: scale(1.1) rotate(3deg);
  }
  30%, 70%, 90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    color: #4d4d4d;
    transform: scale(1) rotate(0);
  }
}
.time-modal-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5e6d6b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.time-modal-block .time-modal {
  padding: 32px;
  background-color: #FFF;
  box-shadow: 0 10px 99px 0 rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  max-width: 610px;
  position: relative;
}
.time-modal-block .time-modal .time-modal__header {
  margin-bottom: 30px;
}
.time-modal-block .time-modal .time-modal__header .time-modal__title {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}
.time-modal-block .time-modal .time-modal__header .time-modal__close {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 0;
  top: -8px;
  transform: translate(0, -100%);
  border-radius: 50%;
  background-color: rgba(249, 249, 249, 0.78);
}
.time-modal-block .time-modal .time-modal__header .time-modal__close::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/icon_close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.time-modal-block .time-modal .time-modal__body .time-modal-minutes-list {
  display: flex;
  flex-wrap: wrap;
}
.time-modal-block .time-modal .time-modal__body .time-modal-minutes-list .time-modal-minutes-list__item {
  margin-right: 16px;
  margin-bottom: 16px;
}
.time-modal-block .time-modal .time-modal__body .time-modal-minutes-list .time-modal-minutes-list__item:nth-child(3) {
  margin-right: 0;
}
.time-modal-block .time-modal .time-modal__body .time-modal-minutes-list .time-modal-minutes-list__item:nth-child(7), .time-modal-block .time-modal .time-modal__body .time-modal-minutes-list .time-modal-minutes-list__item:nth-child(8), .time-modal-block .time-modal .time-modal__body .time-modal-minutes-list .time-modal-minutes-list__item:nth-child(9) {
  margin-bottom: 0;
}
.time-modal-block .time-modal .time-modal__body .time-modal-minutes-list .time-modal-minutes-list__item .time-modal-minutes-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 166px;
  height: 100px;
  border-radius: 10px;
  background-color: #e1f5f3;
  color: #00b3a4;
  font-size: 56px;
}

.cancel-modal-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5e6d6b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.cancel-modal-block .cancel-modal {
  padding: 32px;
  background-color: #FFF;
  box-shadow: 0 10px 99px 0 rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  max-width: 696px;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 65px;
  margin-bottom: 20px;
  max-height: 100vh;
  overflow-y: auto;
}
.cancel-modal-block .cancel-modal .cancel-modal__header {
  margin-bottom: 30px;
}
.cancel-modal-block .cancel-modal .cancel-modal__header .cancel-modal__title {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-bottom: 5px;
}
.cancel-modal-block .cancel-modal .cancel-modal__header .cancel-modal__mini-description {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #000;
}
.cancel-modal-block .cancel-modal .cancel-modal__header .cancel-modal__close {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 0;
  top: -8px;
  border-radius: 50%;
  background-color: rgba(249, 249, 249, 0.78);
}
.cancel-modal-block .cancel-modal .cancel-modal__header .cancel-modal__close::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/icon_close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cancel-modal-block .cancel-modal .cancel-modal__body .cancel-modal-reason-list {
  display: flex;
  flex-wrap: wrap;
}
.cancel-modal-block .cancel-modal .cancel-modal__body .cancel-modal-reason-list .cancel-modal-reason-list__item {
  margin-right: 16px;
  margin-bottom: 16px;
}
.cancel-modal-block .cancel-modal .cancel-modal__body .cancel-modal-reason-list .cancel-modal-reason-list__item:last-child {
  margin-right: 0;
}
.cancel-modal-block .cancel-modal .cancel-modal__body .cancel-modal-reason-list .cancel-modal-reason-list__item .cancel-reason {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  height: 100%;
  text-decoration: none;
  background-color: #e1f5f3;
  border-radius: 5px;
  padding: 15px 20px;
}
.cancel-modal-block .cancel-modal .cancel-modal__body .cancel-modal-reason-list .cancel-modal-reason-list__item .cancel-reason .cancel-reason__img {
  display: block;
  height: 40px;
  margin-bottom: 10px;
}
.cancel-modal-block .cancel-modal .cancel-modal__body .cancel-modal-reason-list .cancel-modal-reason-list__item .cancel-reason .cancel-reason__title {
  display: block;
  color: #00b3a4;
  font-size: 21px;
  line-height: 120%;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
}
.cancel-modal-block .cancel-modal .cancel-modal__body .cancel-modal-reason-list .cancel-modal-reason-list__item .cancel-reason .cancel-reason__description {
  display: block;
  color: #00b3a4;
  font-size: 16px;
  line-height: 140%;
  font-weight: 500;
  text-align: center;
}

.view-modal-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5e6d6b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.view-modal-block .view-modal {
  padding: 32px 32px 10px 32px;
  background-color: #FFF;
  box-shadow: 0 10px 99px 0 rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  max-width: 696px;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 65px;
  margin-bottom: 20px;
  max-height: 100vh;
  overflow-y: auto;
}
.view-modal-block .view-modal .view-modal__header .view-modal__title {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-bottom: 5px;
}
.view-modal-block .view-modal .view-modal__header .view-modal__mini-description {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #000;
}
.view-modal-block .view-modal .view-modal__header .view-modal__close {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 0;
  top: -8px;
  border-radius: 50%;
  background-color: rgba(249, 249, 249, 0.78);
}
.view-modal-block .view-modal .view-modal__header .view-modal__close::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/icon_close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.view-modal-block .view-modal .view-modal__body .order {
  box-shadow: none !important;
}
.view-modal-block .view-modal .view-modal__body .order .order__left {
  min-width: 400px;
}
.view-modal-block .view-modal .view-modal__body .view-modal-reason-list {
  display: flex;
  flex-wrap: wrap;
}
.view-modal-block .view-modal .view-modal__body .view-modal-reason-list .view-modal-reason-list__item {
  margin-right: 16px;
  margin-bottom: 16px;
}
.view-modal-block .view-modal .view-modal__body .view-modal-reason-list .view-modal-reason-list__item:last-child {
  margin-right: 0;
}
.view-modal-block .view-modal .view-modal__body .view-modal-reason-list .view-modal-reason-list__item .view-reason {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  height: 100%;
  text-decoration: none;
  background-color: #e1f5f3;
  border-radius: 5px;
  padding: 15px 20px;
}
.view-modal-block .view-modal .view-modal__body .view-modal-reason-list .view-modal-reason-list__item .view-reason .view-reason__img {
  display: block;
  height: 40px;
  margin-bottom: 10px;
}
.view-modal-block .view-modal .view-modal__body .view-modal-reason-list .view-modal-reason-list__item .view-reason .view-reason__title {
  display: block;
  color: #00b3a4;
  font-size: 21px;
  line-height: 120%;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
}
.view-modal-block .view-modal .view-modal__body .view-modal-reason-list .view-modal-reason-list__item .view-reason .view-reason__description {
  display: block;
  color: #00b3a4;
  font-size: 16px;
  line-height: 140%;
  font-weight: 500;
  text-align: center;
}

.new-order {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FFF;
  background-image: url(../images/new_order_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
}
.new-order .new-order__main {
  margin-top: 55px;
  margin-bottom: 81px;
}
.new-order .new-order__main .new-order__count {
  display: block;
  text-align: center;
  font-size: 165px;
  color: #FFF;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 30px;
}
.new-order .new-order__main .new-order__main-label {
  display: block;
  font-size: 24px;
  color: #FFF;
}
.new-order .new-order__description {
  display: block;
  font-size: 18px;
  color: #FFF;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.c-green-blue {
  color: #00b3a4;
}

.font-semi-bold {
  font-weight: 600;
}

.center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.club-upped {
  background-color: #B0F1CC;
  color: #61A27D;
}

.club-not-changed {
  background-color: rgba(236, 154, 41, 0.3);
  color: #DD942E;
}

.club-lowed {
  background-color: rgba(251, 77, 61, 0.3);
  color: #CC392C;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.select2-section-football-1 .select2-container {
  width: unset !important;
}
.select2-section-football-1 .select2-container .selection .select2-selection {
  border: none;
  border-radius: 0;
  padding: 12px;
  height: 48px;
}
.select2-section-football-1 .select2-container .selection .select2-selection .select2-selection__rendered {
  padding-right: 42px;
  font-weight: 600;
  line-height: 24px;
  font-size: 14px;
  text-transform: uppercase;
  color: #686868;
}
.select2-section-football-1 .select2-container .selection .select2-selection .select2-selection__arrow {
  background-image: url(../images/select2_arrow_bottom.png);
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  width: 14px;
  height: 7px;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(0, -50%);
}
.select2-section-football-1 .select2-container .selection .select2-selection .select2-selection__arrow > * {
  display: none;
}

.select2-container .select2-dropdown {
  border: none;
}
.select2-container .select2-dropdown .select2-search {
  display: none !important;
}
.select2-container .select2-dropdown .select2-results .select2-results__option {
  padding: 12px !important;
  color: #686868 !important;
  font-size: 14px;
}
.select2-container .select2-dropdown .select2-results .select2-results__option--highlighted {
  background: #F6F6F6;
}

.error {
  display: block;
  font-size: 14px;
  color: #e02a3b;
  word-break: break-word;
  text-align: center;
}
.error.error_black {
  color: #4d4d4d;
}

.c-97 {
  color: #979797;
}

.d-block {
  display: block;
}

.border-bottom-2-grey {
  border-bottom: 2px solid #E9E9E9;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.flex-column-end-center {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.flex-column-end-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}

.flex-column-start-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.flex-column-normal-center {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
}

.flex-column-normal-center {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
}

.flex-row-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-row-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-row-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row-start-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-row-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ta-center {
  text-align: center;
}

.flex-column-end-center {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.flex-column-end-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}

.flex-column-start-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-column-start-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.flex-column-normal-center {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
}

.flex-column-normal-center {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
}

.flex-column-center-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flex-column-center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-column-end-between {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.flex-row-start-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-row-start-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-row-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-row-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-row-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-row-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-0 {
  margin: 0 !important;
}

.m-5 {
  margin: 5px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-15 {
  margin: 15px !important;
}

.m-20 {
  margin: 20px !important;
}

.m-25 {
  margin: 25px !important;
}

.m-30 {
  margin: 30px !important;
}

.m-35 {
  margin: 35px !important;
}

.m-40 {
  margin: 40px !important;
}

.m-45 {
  margin: 45px !important;
}

.m-50 {
  margin: 50px !important;
}

.m-55 {
  margin: 55px !important;
}

.m-60 {
  margin: 60px !important;
}

.m-65 {
  margin: 65px !important;
}

.m-70 {
  margin: 70px !important;
}

.m-75 {
  margin: 75px !important;
}

.m-80 {
  margin: 80px !important;
}

.m-85 {
  margin: 85px !important;
}

.m-90 {
  margin: 90px !important;
}

.m-95 {
  margin: 95px !important;
}

.m-100 {
  margin: 100px !important;
}

/* margin-top */
.mt-auto {
  margin-top: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-55 {
  margin-top: 55px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-65 {
  margin-top: 65px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-75 {
  margin-top: 75px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-85 {
  margin-top: 85px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.mt-95 {
  margin-top: 95px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mt-last-0:last-child {
  margin-top: 0 !important;
}

/* margin-right */
.mr-0 {
  margin-right: 0 !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-35 {
  margin-right: 35px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-45 {
  margin-right: 45px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.mr-55 {
  margin-right: 55px !important;
}

.mr-60 {
  margin-right: 60px !important;
}

.mr-65 {
  margin-right: 65px !important;
}

.mr-70 {
  margin-right: 70px !important;
}

.mr-75 {
  margin-right: 75px !important;
}

.mr-80 {
  margin-right: 80px !important;
}

.mr-85 {
  margin-right: 85px !important;
}

.mr-90 {
  margin-right: 90px !important;
}

.mr-95 {
  margin-right: 95px !important;
}

.mr-100 {
  margin-right: 100px !important;
}

.mr-last-0:last-child {
  margin-right: 0 !important;
}

.mr-auto {
  margin-right: auto !important;
}

/* margin-bottom */
.mb-0 {
  margin-bottom: 0 !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-55 {
  margin-bottom: 55px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-65 {
  margin-bottom: 65px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-75 {
  margin-bottom: 75px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-85 {
  margin-bottom: 85px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-95 {
  margin-bottom: 95px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.mb-last-0:last-child {
  margin-bottom: 0 !important;
}

/* margin-left */
.ml-0 {
  margin-left: 0 !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-35 {
  margin-left: 35px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-45 {
  margin-left: 45px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.ml-55 {
  margin-left: 55px !important;
}

.ml-60 {
  margin-left: 60px !important;
}

.ml-65 {
  margin-left: 65px !important;
}

.ml-70 {
  margin-left: 70px !important;
}

.ml-75 {
  margin-left: 75px !important;
}

.ml-80 {
  margin-left: 80px !important;
}

.ml-85 {
  margin-left: 85px !important;
}

.ml-90 {
  margin-left: 90px !important;
}

.ml-95 {
  margin-left: 95px !important;
}

.ml-100 {
  margin-left: 100px !important;
}

.ml-last-0:last-child {
  margin-left: 0 !important;
}

.ml-auto {
  margin-left: auto !important;
}

/* padding */
.p-0 {
  padding: 0 !important;
}

.p-5 {
  padding: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-25 {
  padding: 25px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-35 {
  padding: 35px !important;
}

.p-40 {
  padding: 40px !important;
}

.p-45 {
  padding: 45px !important;
}

.p-50 {
  padding: 50px !important;
}

.p-55 {
  padding: 55px !important;
}

.p-60 {
  padding: 60px !important;
}

.p-65 {
  padding: 65px !important;
}

.p-70 {
  padding: 70px !important;
}

.p-75 {
  padding: 75px !important;
}

.p-80 {
  padding: 80px !important;
}

.p-85 {
  padding: 85px !important;
}

.p-90 {
  padding: 90px !important;
}

.p-95 {
  padding: 95px !important;
}

.p-100 {
  padding: 100px !important;
}

/* padding-top */
.pt-0 {
  padding-top: 0 !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-6 {
  padding-top: 6px !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-35 {
  padding-top: 35px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-45 {
  padding-top: 45px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pt-55 {
  padding-top: 55px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pt-65 {
  padding-top: 65px !important;
}

.pt-70 {
  padding-top: 70px !important;
}

.pt-75 {
  padding-top: 75px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.pt-85 {
  padding-top: 85px !important;
}

.pt-90 {
  padding-top: 90px !important;
}

.pt-95 {
  padding-top: 95px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

/* padding-right */
.pr-0 {
  padding-right: 0 !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pr-35 {
  padding-right: 35px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pr-45 {
  padding-right: 45px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.pr-55 {
  padding-right: 55px !important;
}

.pr-60 {
  padding-right: 60px !important;
}

.pr-65 {
  padding-right: 65px !important;
}

.pr-70 {
  padding-right: 70px !important;
}

.pr-75 {
  padding-right: 75px !important;
}

.pr-80 {
  padding-right: 80px !important;
}

.pr-85 {
  padding-right: 85px !important;
}

.pr-90 {
  padding-right: 90px !important;
}

.pr-95 {
  padding-right: 95px !important;
}

.pr-100 {
  padding-right: 100px !important;
}

/* padding-bottom */
.pb-0 {
  padding-bottom: 0 !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pb-6 {
  padding-bottom: 6px !important;
}

.pb-8 {
  padding-bottom: 8px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-35 {
  padding-bottom: 35px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-45 {
  padding-bottom: 45px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pb-55 {
  padding-bottom: 55px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.pb-65 {
  padding-bottom: 65px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.pb-75 {
  padding-bottom: 75px !important;
}

.pb-80 {
  padding-bottom: 80px !important;
}

.pb-85 {
  padding-bottom: 85px !important;
}

.pb-90 {
  padding-bottom: 90px !important;
}

.pb-95 {
  padding-bottom: 95px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

/* padding-left */
.pl-0 {
  padding-left: 0 !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pl-35 {
  padding-left: 35px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pl-45 {
  padding-left: 45px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.pl-55 {
  padding-left: 55px !important;
}

.pl-60 {
  padding-left: 60px !important;
}

.pl-65 {
  padding-left: 65px !important;
}

.pl-70 {
  padding-left: 70px !important;
}

.pl-75 {
  padding-left: 75px !important;
}

.pl-80 {
  padding-left: 80px !important;
}

.pl-85 {
  padding-left: 85px !important;
}

.pl-90 {
  padding-left: 90px !important;
}

.pl-95 {
  padding-left: 95px !important;
}

.pl-100 {
  padding-left: 100px !important;
}

.w-33 {
  width: 33%;
}

.w-100-p {
  width: 100px;
}

.w-100 {
  width: 100%;
}

.min-w-400 {
  min-width: 400px;
}

.max-w-400 {
  max-width: 400px;
}

.ta-start {
  text-align: start;
  justify-content: flex-start;
}

.ta-center {
  text-align: center;
  justify-content: center;
}

.ta-end {
  text-align: end;
  justify-content: flex-end;
}

/*# sourceMappingURL=style.css.map */
