$greenBlue: rgb(0, 179, 164)
$greyishBrown: rgb(77, 77, 77)
$warmGrey: rgb(153, 153, 153)
$whiteTwo: rgb(239, 239, 239)
$ice: rgb(225, 245, 243)
$iceBlue: rgb(243, 255, 254)
$veryLightPink: rgb(230, 230, 230)
$salmon: rgb(251, 111, 111)
$palePeach: rgb(255, 237, 180)
$newRed: #b30000
$veryLightPinkTwo: rgb(209, 209, 209)
$spruce: #5e6d6b
$white78: rgba(249, 249, 249, .78)

  
body *
  font-family: "San Francisco"
  letter-spacing: 0.3px
  box-sizing: border-box

*:before, *:after
  box-sizing: border-box

#main
  width: 100vw
  height: 100vh
  overflow: hidden
  margin-left: auto
  margin-right: auto


.header
  display: flex
  align-items: center
  background-color: $greenBlue
  &.header_offline
      background-color: $greyishBrown
  .menu-list
    display: flex
    align-items: center
    margin-left: 8px
    .menu-list__item
      margin-right: 16px
      &:last-child
        margin-right: 0
      &.active
        .menu-list__link
          background-color: #ffffff
          color: $greyishBrown
          border-radius: 5px 5px 0 0
      .menu-list__link
        display: block
        text-decoration: none
        padding: 16px
        color: #FFF

  

.link
  display: block
  text-decoration: none
  font-size: 16px
  &.link_black
    color: $greyishBrown
  &.link_icon
    display: flex
    align-items: center
    &::before
      content: ''
      display: block
      background-repeat: no-repeat
      background-position: center
      background-size: contain
    &.link_icon_chat
      &::before
        width: 20px
        height: 20px
        background-image: url(../images/chat.svg)
    &.link_icon_logout
      &::before
        width: 20px
        height: 20px
        background-image: url(../images/logout.svg)
    &.link_icon_add_playlist
      &::before
        width: 20px
        height: 20px
        background-image: url(../images/playlist.svg)
    &.link_icon_add_share
      &::before
        width: 20px
        height: 20px
        background-image: url(../images/youtube_share.svg)


.button
  display: block
  border: none
  padding: 7px 10px
  font-size: 14px
  outline-width: 0
  cursor: pointer
  &.button_bor_rad_min
    border-radius: 5px
  &.button_bor_rad_max
    border-radius: 30px
  &.button_pad_max
    padding: 7px 20px
  &.button_pad_max_2
    padding: 10px 20px
  &.button_white_grad
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, .8))
    &.button_white_grad_pushed
        background: linear-gradient(rgba(255, 255, 255, .8), rgb(255, 255, 255))
  &.button_bg_white
    background-color: #FFF
    color: $greyishBrown
  &.button_bg_grey
    background-color: #e5e5e5
    color: $greyishBrown
  &.button_bg_green-blue
    background-color: $greenBlue
    color: #FFF
    &.disabled
      background-color: $whiteTwo
      color: $warmGrey
  &.button_border-warm
    border: 1px solid $warmGrey
  &.button_shadow
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .16)
  &.button_c_green-blue
    color: $greenBlue
  &.button_icon
    display: flex
    align-items: center
    &::before
      content: ''
      display: block
      background-repeat: no-repeat
      background-position: center
      background-size: contain
      margin-right: 8px
    &.button_icon_warning
      &::before
        width: 20px
        height: 20px
        background-image: url(../images/info.svg)
    &.button_icon_dot
      &::before
        width: 10px
        height: 10px
        background-image: url(../images/circle.svg)
    &.button_icon_ok
      &::before
        width: 14px
        height: 14px
        background-image: url(../images/icon_success.png)
    &.button_icon_2_arrows
      &::before
        width: 14px
        height: 14px
        background-image: url(../images/icon_2_arrows.png)


.label
  display: flex
  align-items: center
  padding: 7px 10px
  border-radius: 5px
  &.label_white
    background-color: #FFF
    color: $greyishBrown
    opacity: .8
  .link_icon
    margin-left: 20px
      

  
.videos
  .videos-head
    display: flex
    flex-direction: column
    padding: 20px
    border-top: 2px solid #e5e5e5
    border-bottom: 2px solid #e5e5e5
    background-color: rgb(250, 250, 250)
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .16)
    margin-bottom: 20px
    .videos__title
      display: block
      max-width: 230px
      color: $greyishBrown
      font-size: 18px
      font-weight: 600
      line-height: 20px
      margin-bottom: 10px
    .videos__descriprion
      display: block
      max-width: 570px
      font-size: 14px
      line-height: 16px
      color: $warmGrey
  .videos-info-list
    display: flex
    align-items: center
    margin-bottom: 30px
    .videos-info-list__item
      display: flex
      align-items: center
      font-size: 14px
      margin-right: 5px
      color: $warmGrey
      &::after
        content: ''
        display: block
        width: 2px
        height: 2px
        border-radius: 50%
        background-color: $warmGrey
        margin-left: 5px
      &:last-child
        margin-right: 0
        &::after
          display: none
  .videos-list
    overflow-y: auto
    .videos-list__item
      margin-bottom: 15px
      &:last-child
        margin-bottom: 0
      .videos-list__link
        display: flex
        text-decoration: none
        .videos-list__img-box
          position: relative
          margin-right: 15px
          .videos-list__img
            width: 246px
            height: 140px
            background-repeat: no-repeat
            background-position: center
            background-size: cover
          .videos-list__time
            position: absolute
            right: 5px
            bottom: 5px
            padding: 3px
            background-color: #000000
            color: #FFF
        .videos-list__right
          .videos-list__title
            display: block
            font-size: 18px
            color: #000
            margin-bottom: 10px
          .videos-list__description-block
            display: flex
            align-items: center
            .videos-list__channel
              display: block
              color: $warmGrey
              margin-right: 10px
            .videos-list__duration
              display: block
              color: $warmGrey


.menu-change
  display: flex
  padding-top: 20px
  .menu-change__left
    margin-right: 20px
    .menu-change__filter-title
      display: block
      text-transform: uppercase
      padding: 0 24px
      color: $warmGrey
      margin-bottom: 20px
    .menu-change-filter-list
      width: 300px
      overflow: auto
      .menu-change-filter-list__item
        margin-bottom: 10px
        &:last-child
          margin-bottom: 0
        &.active
          .menu-change-filter-list__link
            background-color: $greenBlue
            color: #FFF
        .menu-change-filter-list__link
          display: block
          text-decoration: none
          font-size: 18px
          color: $greenBlue
          padding: 16px 24px
  .menu-change__right
    display: flex
    flex-direction: column
    flex-grow: 1
    .menu-change-list
      border-radius: 20px
      overflow: hidden
      margin-bottom: 20px
      background-color: $ice
      overflow: auto
      .menu-change-list__item
        &:first-child
          .menu-change-list__link
            padding-top: 26px
        &.active
          .menu-change-list__link
            background-color: $iceBlue
        .menu-change-list__link
          display: block
          text-decoration: none
          padding-top: 16px
          padding-right: 20px
          padding-bottom: 16px
          padding-left: 20px
          background-color: $ice
          .menu-change-list__title-price
            display: flex
            align-items: center
            justify-content: space-between
            margin-bottom: 8px
            .menu-change-list__title
              display: block
              font-size: 18px
              font-weight: 600
              color: $greyishBrown
            .menu-change-list__price
              display: block
              font-size: 18px
              font-weight: 600
              color: $greyishBrown
          .menu-change-list__description-button
            display: flex
            align-items: center
            justify-content: space-between
            .menu-change-list__description
              display: block
              max-width: 80%
              font-size: 14px
              line-height: 16px
              color: $warmGrey
          .menu-change-extra-list
            margin-top: 10px
            border-top: 1px solid $greyishBrown
            .menu-change-extra-list__item
              display: flex
              align-items: center
              padding: 10px 0 
              border-bottom: 1px solid $greyishBrown
              margin-left: 20px
              &:last-child
                border-bottom: none
              &.disabled
                .menu-change-extra-list__name
                  color: $warmGrey
                .menu-change-extra-list__price
                  color: $warmGrey
              .menu-change-extra-list__name
                display: block
                font-size: 16px
                font-weight: 600
                color: $greyishBrown
                margin-right: 8px
              .menu-change-extra-list__price
                display: block
                font-size: 16px
                font-weight: 600
                color: $greenBlue
              .button
                margin-left: auto

.text-block
    display: flex
    align-items: center
    .text__name
        display: block
        width: 110px
        font-size: 14px
        line-height: 16px
        color: $warmGrey
        margin-right: 5px
    .text__value
        font-size: 18px
        color: $greenBlue
        &.text__value_danger
            color: $salmon


.login-block
    display: flex
    align-items: center
    justify-content: center
    height: 100vh
    background-image: url(../images/login_bg.png)
    background-repeat: repeat
    .login-panel
        background-color: #FFF
        box-shadow: 0 10px 99px 0 rgba(0, 0, 0, .3)
        border-radius: 15px
        overflow: hidden
        .login-panel__header
            display: flex
            align-items: center
            justify-content: space-between
            padding: 32px 32px 0 32px
            margin-bottom: 15px
            .login-panel__title
                display: block
                font-size: 20px
                font-weight: 600
                color: $greyishBrown
            .login-panel__logo
                width: 60px
        .login-panel__body
            padding: 0 32px
            margin-bottom: 25px
            .form-group
                width: 240px
        .login-panel__footer
            .error
                display: block
                padding: 0 10px
                margin-bottom: 10px
            .button
                padding: 14px 10px
                font-size: 16px


.form-group
    margin-bottom: 20px
    &:last-child
        margin-bottom: 0
    &.form-group_has-error
        .form-group__input
            border: 1px solid red
    .form-group__label
        display: block
        font-size: 14px
        color: $warmGrey
        margin-bottom: 8px
    .form-group__input
        display: block
        width: 100%
        padding: 15px
        border-radius: 8px
        border: none
        background-color: $whiteTwo
        color: $greyishBrown
        font-size: 14px
    .form-group__error
        display: block
        font-size: 14px
        color: red
        margin-top: 8px


.history
    display: flex
    padding-top: 20px
    .history__left
        margin-right: 20px
        .history-filter-list
            width: 300px
            overflow: auto
            .history-filter-list__item
                margin-bottom: 10px
                &:last-child
                    margin-bottom: 0
                &.active
                    .history-filter-list__link
                        background-color: $greenBlue
                        color: #FFF
                .history-filter-list__link
                    display: block
                    text-decoration: none
                    font-size: 18px
                    color: $greenBlue
                    padding: 16px 24px
    .history__right
        width: 100%
        .history-lists-block
            overflow: auto
            margin-bottom: 15px
            .history-product-block
            .history-order-block
                height: 100%
                padding: 20px
                background-color: $ice
                border-radius: 20px
                .history-order-list
                    .history-order-list__item
                        margin-bottom: 20px
                        &:last-child
                            margin-bottom: 0
        .history__right-footer
            display: flex
            align-items: center
            padding-bottom: 5px
            .history-nav-list
                display: flex
                align-items: center
                border: 1px solid $greenBlue
                border-radius: 24px
                overflow: hidden
                .history-nav-list__item
                    &.active
                        .history-nav-list__button
                            background-color: $greenBlue
                            color: #FFF
                    .history-nav-list__button
                        width: 100%
                        background-color: #FFF
                        border: none
                        outline-width: 0
                        color: $greenBlue
                        padding: 7px 10px


.history-table
    width: 100%
    thead
        tr
            th
                padding: 15px
                font-size: 16px
                color: $greyishBrown
                text-transform: uppercase
                text-align: left
    tbody
        tr
            background-color: $ice
            &:nth-child(odd)
                background-color: $iceBlue
            &:first-child
                td
                    &:first-child
                        border-radius: 20px 0 0 0
                    &:last-child
                        border-radius: 0 20px 0 0
            &:last-child
                td
                    &:first-child
                        border-radius: 0 0 0 20px
                    &:last-child
                        border-radius: 0 0 20px 0
            td
                padding: 15px
                font-size: 15px
                color: $greyishBrown
                &.td_bold
                    font-weight: 600
            
.order
    border-radius: 10px
    background-color: #FFF
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .16)
    &.order-attention
        animation: order-attention 1.5s ease-in-out 0s 3
    .order__body
        display: flex
        &.order__body_link
            cursor: pointer
        .order__left
            width: 66.666666%
            padding: 16px
            border-right: 2px solid $veryLightPink
            flex-grow: 2
            flex-shrink: 0
            .order__main-info
                display: flex
                align-items: center
                margin-bottom: 20px
                .order__user
                    display: block
                    font-size: 20px
                    font-weight: 600
                    color: $greyishBrown
                .order__mark
                    display: block
                    padding: 3px 5px
                    background-color: $greenBlue
                    color: #FFF
                    border-radius: 5px
                    font-size: 10px
                    margin-left: 10px
                    &.order__mark_icon
                        display: flex
                        align-items: center
                        &::before
                            content: ''
                            display: block
                            background-repeat: no-repeat
                            background-position: center
                            background-size: contain
                            margin-right: 3px
                        &.order__mark_icon_star
                            &::before
                                width: 12px
                                height: 14px
                                background-image: url(../images/icon_star.png)
                .order__date
                    display: block
                    margin-left: auto
                    color: $greyishBrown
                    font-size: 16px
            .order__note
                display: block
                padding: 8px
                font-size: 18px
                font-style: italic
                word-break: break-word
                background-color: $newRed
                color: #FFF
                margin-top: 5px
                border-radius: 5px
            .order-extra-list
                margin-bottom: 16px
                .order-extra-list__item
                    margin-bottom: 8px
                    &:last-child
                        margin-bottom: 0
                    .order-extra-list__info
                        display: flex
                        align-items: center
                        .order-extra-list__count
                            display: flex
                            align-items: center
                            justify-content: center
                            min-width: 32px
                            min-height: 32px
                            border-radius: 50%
                            padding: 4px
                            background-color: $greenBlue
                            color: #FFF
                            margin-right: 8px
                        .order-extra-list__name
                            display: block
                            font-size: 16px
                            color: $greyishBrown
            .order__price
                display: block
                font-size: 16px
                color: $greyishBrown
        .order__right
            width: 33.33333%
            padding: 16px
            flex-grow: 1
            flex-shrink: 0
            .order__id
                display: block
                font-size: 22px
                font-weight: 600
                color: $greenBlue
                margin-bottom: 14px
            .order__add-text
                display: block
                font-size: 14px
                color: $warmGrey
                text-transform: uppercase
                margin-bottom: 10px
                &.order__add-text_icon
                    display: flex
                    align-items: center
                    &::before
                        content: ''
                        display: block
                        background-repeat: no-repeat
                        background-position: center
                        background-size: contain
                        margin-right: 10px
                    &.order__add-text_icon_motorcycle
                        &::before
                            width: 18px
                            height: 11px
                            background-image: url(../images/icon_motorcycle.svg)
    .order__footer
        display: flex
        align-items: center
        padding: 10px
        border-top: 1px solid $veryLightPink
        .order__label
            font-size: 16px
            font-weight: 600

.order-object
    display: flex
    align-items: center
    margin-bottom: 10px
    &:last-child
        margin-bottom: 0
    &.order-object_big
        flex-direction: column
        align-items: flex-start
        .order-object__name
            margin-bottom: 5px
            margin-right: 0
        .order-object__value
            font-size: 18px
    .order-object__name
        display: block
        font-size: 14px
        color: $greyishBrown
        margin-right: 5px
    .order-object__value
        display: block
        font-size: 14px
        color: $greenBlue
        &.order-object__value_danger
            color: $salmon

.order-delivery-time
    display: flex
    align-items: center
    &::before
        content: ''
        display: block
        width: 18px
        height: 11px
        background-image: url(../images/icon_motorcycle_green-blue.svg)
        background-repeat: no-repeat
        background-position: center
        background-size: contain
        margin-right: 10px
    .order-delivery-time__time
        display: block
        font-size: 18px
        font-weight: 600
        color: $greenBlue
        margin-right: 10px
    .order-delivery-time__time-lost
        display: block
        font-size: 14px
        color: $greenBlue


.orders
    display: flex
    padding: 20px 10px 10px 10px
    .orders-incoming
        width: calc(50% - 10px)
        flex-grow: 1
        margin-right: 10px
        .orders-incoming__title
            display: block
            font-size: 16px
            text-align: center
            color: $greyishBrown
            margin-bottom: 15px
            &.orders-incoming__title_attention
                animation: order-text-attention 1.5s ease-in-out 0s 3
        .orders-incoming-list-block
            padding: 20px
            border-radius: 20px
            background-color: $ice
            .orders-incoming-list
                height: 100%
                overflow: auto
                .orders-incoming-list__item
                    margin-bottom: 20px
                    &:last-child
                        margin-bottom: 0
    .orders-accepted
        width: calc(50% - 10px)
        flex-grow: 1
        flex-shrink: 0
        margin-left: 10px
        .orders-accepted__title
            display: block
            font-size: 16px
            text-align: center
            color: $greyishBrown
            margin-bottom: 15px
            &.orders-accepted__title_attention
                animation: order-text-attention 1.5s ease-in-out 0s 3
        .orders-accepted-list-block
            padding: 20px 20px 60px 20px
            border-radius: 20px
            background-color: $ice
            position: relative
            overflow: hidden
            .orders-accepted-list
                height: 100%
                overflow: auto
                .orders-accepted-list__item
                    margin-bottom: 20px
                    &:last-child
                        margin-bottom: 0


.orders-road
    width: 100%
    position: absolute
    left: 0
    bottom: 0
    &.orders-road_closed
        .orders-road__header
            &::after
                background-image: url(../images/icon_arrow_top.svg)!important
        .orders-road__body
            height: 0!important
            padding: 0!important
            overflow: hidden
    .orders-road__header
        padding: 15px
        background-color: $greyishBrown
        position: relative
        &::after
           content: ''
           display: block
           position: absolute
           top: 50%
           right: 15px
           transform: translate(0, -50%)
           width: 15px
           height: 9px
           background-image: url(../images/icon_arrow_bottom.svg)
           background-repeat: no-repeat
           background-position: center
           background-size: contain
        .orders-road__title
            display: flex
            align-items: center
            justify-content: center
            font-size: 18px
            font-weight: 600
            color: #FFF
            text-align: center
            &::before
                content: ''
                display: block
                width: 18px
                height: 11px
                background-image: url(../images/icon_motorcycle_white.svg)
                background-repeat: no-repeat
                background-position: center
                background-size: contain
                margin-right: 10px
    .orders-road__body
        padding: 15px
        background-color: $veryLightPinkTwo
        .orders-road-list
            overflow: auto
            .orders-road-list__item
                margin-bottom: 20px
                &:last-child
                    margin-bottom: 0


@keyframes order-attention
    0%
        background-color: #FFF
    50%
        background-color: #00b3a4
    100%
        background-color: #FFF

@keyframes order-text-attention
    0% 
        color: #4d4d4d
        transform: scale(1) 
    10%, 20% 
        transform: scale(0.9) rotate(-3deg)
    50%
        color: #ff0000
        font-weight: 700
        transform: scale(1.1) rotate(3deg)
    30%, 70%, 90%
        transform: scale(1.1) rotate(3deg)
    40%, 60%, 80% 
        transform: scale(1.1) rotate(-3deg)
    100% 
        color: #4d4d4d
        transform: scale(1) rotate(0)


.time-modal-block
    display: flex
    align-items: center
    justify-content: center
    background-color: $spruce
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 2
    .time-modal
        padding: 32px
        background-color: #FFF
        box-shadow: 0 10px 99px 0 rgba(0, 0, 0, .3)
        border-radius: 15px
        max-width: 610px
        position: relative
        .time-modal__header
            margin-bottom: 30px
            .time-modal__title
                display: block
                font-size: 18px
                font-weight: 600
                color: #000
            .time-modal__close
                display: flex
                align-items: center
                justify-content: center
                text-decoration: none
                width: 45px
                height: 45px
                position: absolute
                right: 0
                top: -8px
                transform: translate(0, -100%)
                border-radius: 50%
                background-color: $white78
                &::before
                    content: ''
                    display: block
                    width: 20px
                    height: 20px
                    background-image: url(../images/icon_close.svg)
                    background-repeat: no-repeat
                    background-position: center
                    background-size: cover
        .time-modal__body
            .time-modal-minutes-list
                display: flex
                flex-wrap: wrap
                .time-modal-minutes-list__item
                    margin-right: 16px
                    margin-bottom: 16px
                    &:nth-child(3)
                        margin-right: 0
                    &:nth-child(7), &:nth-child(8), &:nth-child(9)
                        margin-bottom: 0
                    .time-modal-minutes-list__link
                        display: flex
                        align-items: center
                        justify-content: center
                        text-decoration: none
                        width: 166px
                        height: 100px
                        border-radius: 10px
                        background-color: $ice
                        color: $greenBlue
                        font-size: 56px


.cancel-modal-block
    display: flex
    align-items: center
    justify-content: center
    background-color: $spruce
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 2
    .cancel-modal
        padding: 32px
        background-color: #FFF
        box-shadow: 0 10px 99px 0 rgba(0, 0, 0, .3)
        border-radius: 15px
        max-width: 696px
        position: relative
        margin-left: 20px
        margin-right: 20px
        margin-top: 65px
        margin-bottom: 20px
        max-height: 100vh
        overflow-y: auto
        .cancel-modal__header
            margin-bottom: 30px
            .cancel-modal__title
                display: block
                text-align: center
                font-size: 18px
                font-weight: 600
                color: #000
                margin-bottom: 5px
            .cancel-modal__mini-description
                display: block
                text-align: center
                font-size: 14px
                color: #000
            .cancel-modal__close
                display: flex
                align-items: center
                justify-content: center
                text-decoration: none
                width: 45px
                height: 45px
                position: absolute
                right: 0
                top: -8px
                border-radius: 50%
                background-color: $white78
                &::before
                    content: ''
                    display: block
                    width: 20px
                    height: 20px
                    background-image: url(../images/icon_close.svg)
                    background-repeat: no-repeat
                    background-position: center
                    background-size: cover
        .cancel-modal__body
            .cancel-modal-reason-list
                display: flex
                flex-wrap: wrap
                .cancel-modal-reason-list__item
                    margin-right: 16px
                    margin-bottom: 16px
                    &:last-child
                        margin-right: 0
                    .cancel-reason
                        display: flex
                        flex-direction: column
                        align-items: center
                        max-width: 200px
                        height: 100%
                        text-decoration: none
                        background-color: #e1f5f3
                        border-radius: 5px
                        padding: 15px 20px
                        .cancel-reason__img
                            display: block
                            height: 40px
                            margin-bottom: 10px
                        .cancel-reason__title
                            display: block
                            color: #00b3a4
                            font-size: 21px
                            line-height: 120%
                            font-weight: 700
                            text-align: center
                            margin-bottom: 5px
                        .cancel-reason__description
                            display: block
                            color: #00b3a4
                            font-size: 16px
                            line-height: 140%
                            font-weight: 500
                            text-align: center


.view-modal-block
    display: flex
    align-items: center
    justify-content: center
    background-color: $spruce
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 2
    .view-modal
        padding: 32px 32px 10px 32px
        background-color: #FFF
        box-shadow: 0 10px 99px 0 rgba(0, 0, 0, .3)
        border-radius: 15px
        max-width: 696px
        position: relative
        margin-left: 20px
        margin-right: 20px
        margin-top: 65px
        margin-bottom: 20px
        max-height: 100vh
        overflow-y: auto
        .view-modal__header
            .view-modal__title
                display: block
                text-align: center
                font-size: 18px
                font-weight: 600
                color: #000
                margin-bottom: 5px
            .view-modal__mini-description
                display: block
                text-align: center
                font-size: 14px
                color: #000
            .view-modal__close
                display: flex
                align-items: center
                justify-content: center
                text-decoration: none
                width: 45px
                height: 45px
                position: absolute
                right: 0
                top: -8px
                border-radius: 50%
                background-color: $white78
                &::before
                    content: ''
                    display: block
                    width: 20px
                    height: 20px
                    background-image: url(../images/icon_close.svg)
                    background-repeat: no-repeat
                    background-position: center
                    background-size: cover
        .view-modal__body
            .order
                box-shadow: none!important
                .order__left
                    min-width: 400px
            .view-modal-reason-list
                display: flex
                flex-wrap: wrap
                .view-modal-reason-list__item
                    margin-right: 16px
                    margin-bottom: 16px
                    &:last-child
                        margin-right: 0
                    .view-reason
                        display: flex
                        flex-direction: column
                        align-items: center
                        max-width: 200px
                        height: 100%
                        text-decoration: none
                        background-color: #e1f5f3
                        border-radius: 5px
                        padding: 15px 20px
                        .view-reason__img
                            display: block
                            height: 40px
                            margin-bottom: 10px
                        .view-reason__title
                            display: block
                            color: #00b3a4
                            font-size: 21px
                            line-height: 120%
                            font-weight: 700
                            text-align: center
                            margin-bottom: 5px
                        .view-reason__description
                            display: block
                            color: #00b3a4
                            font-size: 16px
                            line-height: 140%
                            font-weight: 500
                            text-align: center



.new-order
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    background-color: #FFF
    background-image: url(../images/new_order_bg.png)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    position: fixed
    top: 0
    right: 0
    left: 0
    bottom: 0
    z-index: 3
    .new-order__main
        margin-top: 55px
        margin-bottom: 81px
        .new-order__count
            display: block
            text-align: center
            font-size: 165px
            color: #FFF
            text-shadow: 0 3px 6px rgba(0, 0, 0, .16)
            margin-bottom: 30px
        .new-order__main-label
            display: block
            font-size: 24px
            color: #FFF
    .new-order__description
        display: block
        font-size: 18px
        color: #FFF
        text-shadow: 0 3px 6px rgba(0, 0, 0, .16)


.c-green-blue
    color: $greenBlue

.font-semi-bold
    font-weight: 600

.center
  text-align: center

.text-left
  text-align: left

.club-upped
  background-color: #B0F1CC
  color: #61A27D

.club-not-changed
  background-color: rgba(236, 154, 41, 0.3)
  color: #DD942E

.club-lowed
  background-color: rgba(251, 77, 61, 0.3)
  color: #CC392C

.float-left
  float: left

.float-right
  float: right

.select2-section-football-1
  .select2-container
    width: unset !important
    .selection
      .select2-selection
        border: none
        border-radius: 0
        padding: 12px
        height: 48px
        .select2-selection__rendered
          padding-right: 42px
          font-weight: 600
          line-height: 24px
          font-size: 14px
          text-transform: uppercase
          color: #686868
        .select2-selection__arrow
          background-image: url(../images/select2_arrow_bottom.png)
          background-size: cover
          background-position: center
          background-clip: content-box
          width: 14px
          height: 7px
          position: absolute
          top: 50%
          right: 16px
          transform: translate(0, -50%)
          &>*
            display: none


.select2-container
  .select2-dropdown
    border: none
    .select2-search
      display: none !important
    .select2-results
      .select2-results__option
        padding: 12px !important
        color: #686868 !important
        font-size: 14px
      .select2-results__option--highlighted
        //color: #000
        background: #F6F6F6


.error
    display: block
    font-size: 14px
    color: #e02a3b
    word-break: break-word
    text-align: center
    &.error_black
        color: #4d4d4d

.c-97
  color: #979797

.d-block
  display: block

.border-bottom-2-grey
  border-bottom: 2px solid #E9E9E9

.clearfix:after
  display: block
  content: ""
  clear: both

.flex-column-end-center
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: center

.flex-column-end-end
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: end

.flex-column-start-center
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center

.flex-column-normal-center
    display: flex
    flex-direction: column
    align-items: normal
    justify-content: center

.flex-column-normal-center
    display: flex
    flex-direction: column
    align-items: normal
    justify-content: center

.flex-row-center-between
    display: flex
    align-items: center
    justify-content: space-between

.flex-row-center-end
    display: flex
    align-items: center
    justify-content: flex-end

.flex-row-center-center
    display: flex
    align-items: center
    justify-content: center

.flex-row-start-start
    display: flex
    align-items: flex-start
    justify-content: flex-start

.flex-row-center-start
    display: flex
    align-items: center
    justify-content: flex-start

.ta-center
  text-align: center

.flex-column-end-center
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: center

.flex-column-end-end
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: end

.flex-column-start-start
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start

.flex-column-start-center
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center

.flex-column-normal-center
    display: flex
    flex-direction: column
    align-items: normal
    justify-content: center

.flex-column-normal-center
    display: flex
    flex-direction: column
    align-items: normal
    justify-content: center

.flex-column-center-between
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between

.flex-column-center-center
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.flex-column-end-between
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: space-between

.flex-row-start-between
    display: flex
    align-items: flex-start
    justify-content: space-between

.flex-row-start-start
    display: flex
    align-items: flex-start
    justify-content: flex-start

.flex-row-center-between
    display: flex
    align-items: center
    justify-content: space-between

.flex-row-center-start
    display: flex
    align-items: center
    justify-content: flex-start

.flex-row-center-end
    display: flex
    align-items: center
    justify-content: flex-end

.flex-row-center-center
    display: flex
    align-items: center
    justify-content: center

.m-0
    margin: 0!important

.m-5
    margin: 5px!important

.m-10
    margin: 10px!important

.m-15
    margin: 15px!important

.m-20
    margin: 20px!important

.m-25
    margin: 25px!important

.m-30
    margin: 30px!important

.m-35
    margin: 35px!important

.m-40
    margin: 40px!important

.m-45
    margin: 45px!important

.m-50
    margin: 50px!important

.m-55
    margin: 55px!important

.m-60
    margin: 60px!important

.m-65
    margin: 65px!important

.m-70
    margin: 70px!important

.m-75
    margin: 75px!important

.m-80
    margin: 80px!important

.m-85
    margin: 85px!important

.m-90
    margin: 90px!important

.m-95
    margin: 95px!important

.m-100
    margin: 100px!important


/* margin-top */

.mt-auto
    margin-top: auto!important

.mt-0
    margin-top: 0!important

.mt-5
    margin-top: 5px!important

.mt-10
    margin-top: 10px!important

.mt-15
    margin-top: 15px!important

.mt-20
    margin-top: 20px!important

.mt-25
    margin-top: 25px!important

.mt-30
    margin-top: 30px!important

.mt-35
    margin-top: 35px!important

.mt-40
    margin-top: 40px!important

.mt-45
    margin-top: 45px!important

.mt-50
    margin-top: 50px!important

.mt-55
    margin-top: 55px!important

.mt-60
    margin-top: 60px!important

.mt-65
    margin-top: 65px!important

.mt-70
    margin-top: 70px!important

.mt-75
    margin-top: 75px!important

.mt-80
    margin-top: 80px!important

.mt-85
    margin-top: 85px!important

.mt-90
    margin-top: 90px!important

.mt-95
    margin-top: 95px!important

.mt-100
    margin-top: 100px!important

.mt-last-0
    &:last-child
        margin-top: 0!important



/* margin-right */
    
.mr-0
    margin-right: 0!important

.mr-5
    margin-right: 5px!important

.mr-10
    margin-right: 10px!important

.mr-15
    margin-right: 15px!important

.mr-20
    margin-right: 20px!important

.mr-25
    margin-right: 25px!important

.mr-30
    margin-right: 30px!important

.mr-35
    margin-right: 35px!important

.mr-40
    margin-right: 40px!important

.mr-45
    margin-right: 45px!important

.mr-50
    margin-right: 50px!important

.mr-55
    margin-right: 55px!important

.mr-60
    margin-right: 60px!important

.mr-65
    margin-right: 65px!important

.mr-70
    margin-right: 70px!important

.mr-75
    margin-right: 75px!important

.mr-80
    margin-right: 80px!important

.mr-85
    margin-right: 85px!important

.mr-90
    margin-right: 90px!important

.mr-95
    margin-right: 95px!important

.mr-100
    margin-right: 100px!important

.mr-last-0
    &:last-child
        margin-right: 0!important

.mr-auto
    margin-right: auto!important



/* margin-bottom */
    
.mb-0
    margin-bottom: 0!important

.mb-5
    margin-bottom: 5px!important

.mb-10
    margin-bottom: 10px!important

.mb-15
    margin-bottom: 15px!important

.mb-20
    margin-bottom: 20px!important

.mb-25
    margin-bottom: 25px!important

.mb-30
    margin-bottom: 30px!important

.mb-35
    margin-bottom: 35px!important

.mb-40
    margin-bottom: 40px!important

.mb-45
    margin-bottom: 45px!important

.mb-50
    margin-bottom: 50px!important

.mb-55
    margin-bottom: 55px!important

.mb-60
    margin-bottom: 60px!important

.mb-65
    margin-bottom: 65px!important

.mb-70
    margin-bottom: 70px!important

.mb-75
    margin-bottom: 75px!important

.mb-80
    margin-bottom: 80px!important

.mb-85
    margin-bottom: 85px!important

.mb-90
    margin-bottom: 90px!important

.mb-95
    margin-bottom: 95px!important

.mb-100
    margin-bottom: 100px!important

.mb-last-0
    &:last-child
        margin-bottom: 0!important



/* margin-left */
    
.ml-0
    margin-left: 0!important

.ml-5
    margin-left: 5px!important

.ml-10
    margin-left: 10px!important

.ml-15
    margin-left: 15px!important

.ml-16
    margin-left: 16px!important

.ml-20
    margin-left: 20px!important

.ml-25
    margin-left: 25px!important

.ml-30
    margin-left: 30px!important

.ml-35
    margin-left: 35px!important

.ml-40
    margin-left: 40px!important

.ml-45
    margin-left: 45px!important

.ml-50
    margin-left: 50px!important

.ml-55
    margin-left: 55px!important

.ml-60
    margin-left: 60px!important

.ml-65
    margin-left: 65px!important

.ml-70
    margin-left: 70px!important

.ml-75
    margin-left: 75px!important

.ml-80
    margin-left: 80px!important

.ml-85
    margin-left: 85px!important

.ml-90
    margin-left: 90px!important

.ml-95
    margin-left: 95px!important

.ml-100
    margin-left: 100px!important

.ml-last-0
    &:last-child
        margin-left: 0!important

.ml-auto
    margin-left: auto!important



/* padding */
    
.p-0
    padding: 0!important

.p-5
    padding: 5px!important

.p-10
    padding: 10px!important

.p-15
    padding: 15px!important

.p-20
    padding: 20px!important

.p-25
    padding: 25px!important

.p-30
    padding: 30px!important

.p-35
    padding: 35px!important

.p-40
    padding: 40px!important

.p-45
    padding: 45px!important

.p-50
    padding: 50px!important

.p-55
    padding: 55px!important

.p-60
    padding: 60px!important

.p-65
    padding: 65px!important

.p-70
    padding: 70px!important

.p-75
    padding: 75px!important

.p-80
    padding: 80px!important

.p-85
    padding: 85px!important

.p-90
    padding: 90px!important

.p-95
    padding: 95px!important

.p-100
    padding: 100px!important



/* padding-top */
    
.pt-0
    padding-top: 0!important

.pt-5
    padding-top: 5px!important

.pt-6
    padding-top: 6px!important

.pt-8
    padding-top: 8px!important

.pt-10
    padding-top: 10px!important

.pt-15
    padding-top: 15px!important

.pt-20
    padding-top: 20px!important

.pt-25
    padding-top: 25px!important

.pt-30
    padding-top: 30px!important

.pt-35
    padding-top: 35px!important

.pt-40
    padding-top: 40px!important

.pt-45
    padding-top: 45px!important

.pt-50
    padding-top: 50px!important

.pt-55
    padding-top: 55px!important

.pt-60
    padding-top: 60px!important

.pt-65
    padding-top: 65px!important

.pt-70
    padding-top: 70px!important

.pt-75
    padding-top: 75px!important

.pt-80
    padding-top: 80px!important

.pt-85
    padding-top: 85px!important

.pt-90
    padding-top: 90px!important

.pt-95
    padding-top: 95px!important

.pt-100
    padding-top: 100px!important



/* padding-right */
    
.pr-0
    padding-right: 0!important

.pr-5
    padding-right: 5px!important

.pr-10
    padding-right: 10px!important

.pr-15
    padding-right: 15px!important

.pr-20
    padding-right: 20px!important

.pr-25
    padding-right: 25px!important

.pr-30
    padding-right: 30px!important

.pr-35
    padding-right: 35px!important

.pr-40
    padding-right: 40px!important

.pr-45
    padding-right: 45px!important

.pr-50
    padding-right: 50px!important

.pr-55
    padding-right: 55px!important

.pr-60
    padding-right: 60px!important

.pr-65
    padding-right: 65px!important

.pr-70
    padding-right: 70px!important

.pr-75
    padding-right: 75px!important

.pr-80
    padding-right: 80px!important

.pr-85
    padding-right: 85px!important

.pr-90
    padding-right: 90px!important

.pr-95
    padding-right: 95px!important

.pr-100
    padding-right: 100px!important



/* padding-bottom */
    
.pb-0
    padding-bottom: 0!important

.pb-5
    padding-bottom: 5px!important

.pb-6
    padding-bottom: 6px!important

.pb-8
    padding-bottom: 8px!important

.pb-10
    padding-bottom: 10px!important

.pb-15
    padding-bottom: 15px!important

.pb-20
    padding-bottom: 20px!important

.pb-25
    padding-bottom: 25px!important

.pb-30
    padding-bottom: 30px!important

.pb-35
    padding-bottom: 35px!important

.pb-40
    padding-bottom: 40px!important

.pb-45
    padding-bottom: 45px!important

.pb-50
    padding-bottom: 50px!important

.pb-55
    padding-bottom: 55px!important

.pb-60
    padding-bottom: 60px!important

.pb-65
    padding-bottom: 65px!important

.pb-70
    padding-bottom: 70px!important

.pb-75
    padding-bottom: 75px!important

.pb-80
    padding-bottom: 80px!important

.pb-85
    padding-bottom: 85px!important

.pb-90
    padding-bottom: 90px!important

.pb-95
    padding-bottom: 95px!important

.pb-100
    padding-bottom: 100px!important



/* padding-left */
    
.pl-0
    padding-left: 0!important

.pl-5
    padding-left: 5px!important

.pl-10
    padding-left: 10px!important

.pl-15
    padding-left: 15px!important

.pl-20
    padding-left: 20px!important

.pl-25
    padding-left: 25px!important

.pl-30
    padding-left: 30px!important

.pl-35
    padding-left: 35px!important

.pl-40
    padding-left: 40px!important

.pl-45
    padding-left: 45px!important

.pl-50
    padding-left: 50px!important

.pl-55
    padding-left: 55px!important

.pl-60
    padding-left: 60px!important

.pl-65
    padding-left: 65px!important

.pl-70
    padding-left: 70px!important

.pl-75
    padding-left: 75px!important

.pl-80
    padding-left: 80px!important

.pl-85
    padding-left: 85px!important

.pl-90
    padding-left: 90px!important

.pl-95
    padding-left: 95px!important

.pl-100
    padding-left: 100px!important

.w-33
    width: 33%

.w-100-p
    width: 100px

.w-100
    width: 100%

.min-w-400
    min-width: 400px

.max-w-400
    max-width: 400px

.ta-start
    text-align: start
    justify-content: flex-start

.ta-center
    text-align: center
    justify-content: center

.ta-end
    text-align: end
    justify-content: flex-end